


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

header {
  /* background-color: #333; */
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.chars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .user-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem
}

.user-card p {
  margin: 0.5rem 0;
  color: #666;
} */

#icone-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  padding: 10px; 
}

.logo-rick{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  
 
}

.card {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.58);
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgba(91, 228, 12, 0.886);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
    
}

.card:hover {
  border: 1px solid rgb(73, 230, 21);
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card img {
  
  max-width: 90%;  
  margin-bottom: 1rem
  
}

.card p {
  margin: 0.5rem 0;
  color: #ffffff;
}

